In [2]:
import pandas as pd
from scipy.spatial.distance import cosine
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
import re
import numpy as np
from numpy import ndarray

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
reviews = pd.read_csv('users_data.csv', index_col=0)

In [0]:
reviews0 = pd.read_excel('users_full_7034.xlsx', index_col=0)

In [4]:
reviews.head(1)

                                                hotel_name  score
username
Sarah Williams  Radisson Blu Royal Viking Hotel, Stockholm      4

In [6]:
reviews0.head(1)

                ageRange gender  ... contribLevel numHelpfulVotes
username                         ...
007solotraveler    35-49   male  ...            3              10

[1 rows x 18 columns]

In [0]:
reviews0 = reviews0[['ageRange', 'location', 'gender','travelStyle']]

In [13]:
reviews0.head(3)

                ageRange  ...                           travelStyle
username                  ...
007solotraveler    35-49  ...                                   NaN
0BKI0              25-34  ...  Foodie, Nature Lover, Urban Explorer
1010101              NaN  ...                                   NaN

[3 rows x 4 columns]